<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard-style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <script>
        $(document).ready(function () {
            function updateData() {
                $.ajax({
                    url: 'https://api.thingspeak.com/channels/1999883/feeds.csv?api_key=XP1R5CVUPVXTNJT0&results=1',
                    type: 'GET',
                    success: function (response) {
                        var data = Papa.parse(response, {header: true, skipEmptyLines: true}).data[0];

                        $('#temperature').text(parseFloat(data.field1).toFixed(1) + ' °C');
                        $('#humidity').text(parseFloat(data.field2).toFixed(1) + ' %');
                        $('#sun').text(parseFloat(data.field3).toFixed(1) + ' lux');
                        $('#soil').text(parseFloat(data.field4).toFixed(1) + '%');
                    }
                });
            }

            updateData();
            setInterval(updateData, 60000);
        })

        $( document ).ready( function() {
        $( '.a' ).click( function() {
          $( '.b' ).slideToggle();
            });
        });

        $( document ).ready( function() {
        $( '.a2' ).click( function() {
          $( '.b2' ).slideToggle();
            });
        });
        $( document ).ready( function() {
        $( '.a3' ).click( function() {
          $( '.b3' ).slideToggle();
            });
        });


    </script>
    <style>
      .b {
          display: none;
      }

      .b2 {
          display: none;
      }

      .b3 {
          display: none;
      }
    </style>
</head>
<div class="app">
    <header class="app-header">
        <div class="app-header-logo">
            <div class="logo">
				<span class="logo-icon">
					<img src="{{ url_for('static', filename='images/greenhouse.png') }}"/>
				</span>
                <h4 class="logo-title">
                    <span>SmartFarm</span>
                </h4>
            </div>
        </div>
        {% if results is defined %}
        <span>{{ results }} 님</span>
        {% endif %}
    </header>

    <div class="app-body">
        <div class="tiles">
            <div class="tile">
                <dl class="tile-header">
                    <div>
                        <dt>Temperature</dt>
                        <dd id="temperature"></dd>
                    </div>
                </dl>
            </div>
            <div class="tile">
                <dl class="tile-header">
                    <div>
                        <dt>Humidity</dt>
                        <dd id="humidity"></dd>
                    </div>
                </dl>
            </div>
            <div class="tile">
                <dl class="tile-header">
                    <div>
                        <dt>Soil Water</dt>
                        <dd id="soil">32.7 %</dd>
                    </div>
                </dl>
            </div>
            <div class="tile">
                <dl class="tile-header">
                    <div>
                        <dt>Light</dt>
                        <dd id="sun"></dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>

    <div class="transfers">
        <br><br><br>
        <iframe src="http://113.198.63.26:14100" height="300" width="100%"></iframe>
    </div>


    <h4 class="text-start mt-4">control</h4>
    <div class="row">
        <div class="col-4">
                <div class="a">LED</div>
                <div class="b">
                    <button type="button" class="c btn btn-dark" data-toggle="button" aria-pressed="false" id="led_on">on</button>
                    <button type="button" class="c btn btn-dark" data-toggle="button" aria-pressed="false" id="led_off">off</button>
                </div>
            </div>
        <div class="col-4">
            <div class="a2">Fan</div>
            <div class="b2">
                <button type="button" class="c btn btn-dark" data-toggle="button" aria-pressed="false" id="fan_on">on</button>
                <button type="button" class="c btn btn-dark" data-toggle="button" aria-pressed="false" id="fan_off">off</button>
            </div>
        </div>
        <div class="col-4">
            <div class="a3">Water</div>
            <div class="b3">
                <button type="button" class="c btn btn-dark" data-toggle="button" aria-pressed="false" id="water_on">on</button>
                <button type="button" class="c btn btn-dark" data-toggle="button" aria-pressed="false" id="water_off">off</button>
            </div>
        </div>
    </div>
        <script>
            function sendsignal(buttonid) {
                    $.ajax({
                        type: "POST",
                        url: "http://113.198.63.26:14110/run_code",
                        data: JSON.stringify({data: buttonid}),
                        contentType: "application/json",
                        success: now_result,
                        dataType: "json"
                    });

                    function now_result() {
                        console.log('data')
                    }
            }

            document.querySelectorAll('button').forEach(function(button) {
                button.addEventListener('click', function() {
                    var buttonId = this.id;
                    sendsignal(buttonId);
                });
            });

            function updateSliderValue() {
                var sliderValue = $('#slider').val();
                $('#sliderValue').text(sliderValue);

                // 슬라이더 값 변경 시 자동으로 Ajax 요청 보내기
                sendSliderValue(sliderValue);
            }

            // 전송 버튼 클릭 시 Ajax 요청 보내기
            function sendSliderValue(value) {
                $.ajax({
                    type: "POST",
                    url: "http://113.198.63.26:14110/run_code",
                    data: JSON.stringify({ data: value }),
                    contentType: "application/json",
                    success: function(response) {
                        console.log('서버 응답:', response);
                    },
                    error: function(error) {
                        console.error('오류 발생:', error);
                    }
                });
            }

            // 슬라이드 값 변경 이벤트에 함수 연결
            $('#slider').on('input', updateSliderValue);

            // 페이지 로드 시 초기 슬라이더 값으로 Ajax 요청 보내기
            $(document).ready(function() {
                var initialSliderValue = $('#slider').val();
                sendSliderValue(initialSliderValue);
            });

        </script>
</div>
</html>
